* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;

    background: #333333;
}

h1 {
    color: #FFD400;
    text-align: center;
}

p {
    color: #FF3562;
    display: inline-block;
}

img {
    width: 100px;
    text-align: center;
}
